
.dialog{
    //border: 2px solid #0da4ca;
    height: 620px;
}
 
.dialog-content{
    height: 600px;
    .form-dialog-content{
        padding-bottom: 300px;
        display: flex;
        align-items: flex-start;
        height: 400px;
    }
}


.css-1v99tuv{
    color:#191b1b;
}
.css-1gpjby2{
    color:#191b1b;
}
.roles{

    padding: 0.5rem; 
    border-radius: 1.5rem; 
    display: flex;
    flex-direction: column;
    .aggridreact {
        --ag-grid-size: 8px;
        --ag-background-color:#545f60  ;
    }
    .aggridreact .ag-header-viewport{
        //font-style: italic;
        background:#545f60  ;
    }
    .ag-header-cell-text{
        color: white;
    }
}
.MuiButtonBase-root span{
    color: rgb(50, 51, 53);
}