*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poopins', sans-serif;
}

.home {
  //display: flex;
  //flex: 2;
  //flex-direction: column;

  //border: 5.5px rgb(44, 122, 201) solid;
  //height: 600px;
  
  .wrapper{

    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    //border: 0.5px rgb(44, 122, 201) solid;
    margin: 1rem;
    width: 97%;
    .w{

      //border: 0.5px rgb(44, 122, 201) solid;
      width: 120px;
      height: 100px;
      margin: 80px;

    }

  }
   
}