 

  
.calendar{
    //padding: 20rem; 
    //margin: 0px; 
    //margin-top: 6rem; 
    //background-color: #ffffff; 
    //border-radius: 1.5rem; 
    //border: 2px solid #1853aa;
    //border: 2px solid #1853aa;
}
.schedule-component{
    //padding: 1.5rem; 
    margin: 10px; 
    margin-top: 1rem; 
    //background-color: #103161; 
    border-radius: 5px; 
    border: 1.5px solid #98999b;
    .e-time-slots span{
        color: #255292;
     }
}
.schedule-header-bar{

}

.e-tbar-btn-text{
    color: #1860db;

}
.e-btn-icon {
    color: #d0d6df;

}